<h1>Display</h1>
<br>
<button ng-click="categories_displayAll()" id="categories_displayAll_button" class="btn btn-success">Request All Categories</button>
<br><br>
<div id="cat_data">
    <table class="table" id="cat_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="atrib in categoryInfo">
                <td>{{ atrib.CategoryID }}</td>
                <td>{{ atrib.CategoryName  }}</td>
                <td>{{ atrib.Description }}</td>
            </tr>
        </tbody>
    </table>
</div>