<button class="btn btn-success pageTitle" ng-click="getAllTeacherCourses()">Load Courses</button>

<table class="table courses-table">
    <thead>
    <tr>
        <th>Courses</th>
    </tr>
    </thead>
    <tbody>
    <form name="courseSendCheckBox">
        <tr ng-repeat="cor in courses">
            <td>{{cor.name}}</td>
            <td><input type="checkbox" name="{{cor.crn}}" value="{{cor.crn}}" ng-model="cor.checked"></td>
        </tr>
        <tr>
            <td><input ng-click="sendToCheckCourses()" type="submit" class="btn btn-success" value="Send To Theses Courses"></td>
            <td></td>
        </tr>
    </form>
    </tbody>
</table>