<h3>Select Contact Method</h3>
<button ng-click="loadCommunicationMethod()" class="btn btn-success">Load Methods</button>
<div class="container">
    <table class="table courses-table">
        <tr ng-repeat="method in methods">
            <td><p>{{method.name}}</p></td>
            <td><input type="checkbox" class="checkbox" about="{{method.id}}"></td>
        </tr>
    </table>
</div>

<button class="btn btn-warning" ng-show="methods" ng-click="saveCommunicationMethods()">Save Preferences Methods</button>
